table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#chefformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #formdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #formdiv label {
        font-weight: bolder;
    }

#updatechefformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updatechefformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updatechefformdiv label {
        font-weight: bolder;
    }

#restaurantformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#updaterestaurantformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updaterestaurantformdiv label, button, input {
    margin: 10px;
    padding: 7px;
}

    #updaterestaurantformdiv label {
        font-weight: bolder;
    }

#receiptformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#updatereceiptformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}
    #updatereceiptformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updatereceiptformdiv label {
        font-weight: bolder;
    }



table button {
    padding: 2px;
}
